.Form{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.btn{
    width: 20%;
    border: none;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}